---
import { FavoritePokemons } from '@components/pokemons/FavoritePokemons';
import Title from '@components/shared/Title.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Favoritos">
  <Title>Favoritos</Title>

  <FavoritePokemons client:only="solid-js" />
</MainLayout>
