---
import { Counter } from '@components/Counter';
import Title from '@components/shared/Title.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Favoritos">
  <Title>Islas</Title>

  <div
    style={{
      height: '2000px',
      backgroundColor: 'red',
      opacity: 0.4,
    }}
  >
  </div>

  <!-- <Counter client:only="solid-js" /> -->
  <Counter client:visible />
</MainLayout>
